
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  color: #333;
  text-align: center;
}

h1, h2 {
  margin-top: 40px;
  color: #2c3e50;
}


#login-page {
  margin-top: 100px;
}

form {
  display: inline-block;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

input {
  display: block;
  margin: 10px auto;
  padding: 12px 15px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px 20px;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 0.9em;
}


#album-page {
  padding: 20px;
}

#album-page button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #e74c3c;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  margin: 40px auto;
  padding: 0 30px 50px;
  max-width: 1200px;
}

.media-item {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.media-item:hover {
  transform: translateY(-5px);
}

.media-item img {
  max-width: 10px;
  max-height: 50px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.media-item video {
  width: 100%;
  border-radius: 10px;
}

